.App {
  font-family: sans-serif;
  text-align: center;
}
.table-wrapper table {
  text-align: left;
  margin: 0 auto;
  border-collapse: collapse;
}

table tr td, table tr th {
  padding: 0.3rem 1rem 0.3rem 0.6rem;
  border: 1px solid #CCC;
}

table tr td button:first-child {
  margin-right: 10px
}